# graphics
/dev/kgsl-3d0 0666 system graphics
/dev/kgsl-2d0 0666 system graphics
/dev/genlock 0666 system graphics
/dev/graphics/fb* 0666 system graphics

# 1seg tuner
/dev/dtvtuner 0660 secureav system

# memsicd
/dev/ecompass_ctrl 0660 system system
/dev/mmc328x 0660 system system
/dev/cm3623_ps 0660 system system
/dev/cm3623_als 0660 system system
/dev/bma250 0660 system system

# ril
/dev/smd21 0640 root root
/dev/smd22 0640 root root
/dev/smd27 0640 root root
/dev/smd36 0640 root root
/dev/smd7 0740 radio radio
/dev/smdcntl0 0640 radio radio
/dev/smdcntl1 0640 radio radio
/dev/smdcntl2 0640 radio radio
/dev/smdcntl3 0640 radio radio
/dev/smdcntl4 0640 radio radio
/dev/smdcntl5 0640 radio radio
/dev/smdcntl6 0640 radio radio
/dev/smdcntl7 0640 radio radio

# other
/dev/msm_rotator 0660 system graphics
/dev/proximity 0640 system system
/dev/ttyGS1 0660 system system
/dev/avr 0777 system system
/dev/i2c-0 0777 system system
/dev/isl29018 0777 system system
/dev/smb380 0777 system system
/dev/tca6507 0777 system system
/dev/tpa2018 0777 system system
/dev/pmem_smipool 0666 system system
/dev/gemini0 0660 system system
/dev/msm_camera/* 0666 system camera
/dev/msm_pcm_dec* 0666 system audio
/dev/snd/controlC0* 0666 system audio
/dev/msm_aac* 0660 system audio
/dev/amrnb* 0660 system audio
/dev/amrwb* 0660 system audio
/dev/msm_qcelp* 0660 system audio
/dev/evrc* 0660 system audio
/dev/msm_voicememo* 0660 system audio
/dev/msm_voice 0660 system audio
/dev/cpu_dma_latency 0660 system system
/dev/msm_vidc_dec 0660 system audio
/dev/msm_vidc_enc 0660 system audio
/dev/msm_vidc_reg 0660 system audio
/dev/oncrpc 0777 system system
/dev/oncrpc/* 0777 system system
